.textbook__page {
  display: flex;
  flex-direction: column;
  width: 100%;

  align-items: center;
  gap: 3rem;
  padding: 3rem 2rem;
}


.chapter__heading {
  border: none;
  padding: 1rem 1rem 1rem 0;
  outline: none;
  color: $color-primary;
  font-size: 2rem;
  background: transparent;

  &:hover{
    background-color: $color-primary-light;
    cursor: pointer;
    border-radius: 8px;
  }
}

.textbook__words-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-content: flex-start;
  justify-content: center;
}

.word-details__sound-icon {
  padding: 8px;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  fill: $color-primary;

  position: absolute;
  top: 1rem;
  right: 1rem;
}


.word-details__sound-icon:hover {
  background-color: $color-primary-light;
  cursor: pointer;
}

.textbook__content {
  display: grid;
  grid-template-columns: 1.1fr 2fr;
  gap: 2rem;
  font-size: 1.4rem;
}

.word-details {
  position: relative;

  border: $color-shade-xl 1px solid;
  padding: 1.5rem 2rem 2rem;
  box-shadow: $box-shadow;
  background-color: $color-shade-xxl;
  border-radius: 4px;
  height: fit-content;
}

.word-details__word {
  font-size: 2.5rem;
  font-weight: bolder;
}

.transcription {
  color: $color-shade-m;
  font-weight: normal;
}

.word-details__image {
  height: 20rem;
  background-size: cover;
  border-radius: 4px;
}

.word-summary {
  position:relative;

  height: 11rem;
  width: 18rem;

  overflow: hidden;
  border: $color-shade-xl 1px solid;
  padding: 1.5rem 2rem;
  box-shadow: $box-shadow;
  background-color: $color-shade-xxl;
  border-radius: 4px;
}

.word-details__word-russian {
  font-size: 2.5rem;
}

.translation {
  color: $color-shade-m;
}

.example {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hard {
  border: $color-secondary 1px solid;
  box-shadow: 1px 0px 10px -5px rgb(255 165 54 / 70%);
}

.word-details__switch {
  position: relative;
  display: flex;
  width: 5.5rem;
  height: 2.8rem;
}

.word-details__switch input {
  opacity: 0;
  height: 0;
  width: 0;
}

.word-details__switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-shade-xl;
  border-radius: 50rem;
}

.word-details__switch-slider:before {
  position: absolute;
  left: 0.4rem;
  bottom: 0.4rem;
  content: "";
  height: 2rem;
  width: 2rem;
  background-color: $color-shade-xxl;
  border-radius: 500px;
  transition: .3s;
}

input:checked + .switch-studied {
  background-color: $color-primary;
}

input:focus + .switch-studied {
  box-shadow: 0 0 1px $color-primary;
}

input:checked + .switch-hard {
  background-color: $color-secondary;
}

input:focus + .switch-hard {
  box-shadow: 0 0 1px $color-secondary;
}

input:checked + .word-details__switch-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.word-details__status {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  color: $color-shade-m;
}

.word-details__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 0;
}


.word-summary:hover {
  background-color: $color-primary-light;
  cursor: pointer;
}


.word-summary__studied-icon {
  padding: 8px;
  font-size: 2rem;
  color: $color-primary;

  position: absolute;
  top: 0.5rem;
  right: 0.7rem;

  display: none;
}

.word-summary__active {
  background-color: $color-primary-light;
}


.textbook__page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}


.pagination {
  display: flex;
  gap: 1rem;
}

.pagination__control{
  border: 1px solid $color-shade-m;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  font-size: 1.5rem;
  color: $color-shade-m;
  background-color: $color-shade-xxl;
}

.pagination__inactive {
  border: 1px solid $color-shade-l;
  color: $color-shade-m;
  background-color: $color-shade-xl;
  cursor: default;
}

.pagination__active {
  background-color: $color-primary;
  color: $color-shade-xxl;
  cursor: default;
}
