
$desktop-width: 1280px;
$tablet-width: 768px;
$mobile-width: 320px;

$color-shade-xxl:#FFFFFF;
$color-shade-xl: #dddddd;
$color-shade-l:#bebebe;
$color-shade-m:#898989;
$color-shade-s:#464646;
$color-shade-xs:#262626;
$color-shade-xxs:#000000;

$color-primary:#3a7e52;
$color-primary-dark: #0e4421;
$color-primary-light:#e1f1e7;

$color-secondary:#e48f17;
$color-secondary-light:#ffd79e;

$box-shadow: 1px 0px 10px -5px rgb(34 60 80 / 20%);
